.blogPostTags {
  composes: flex mt4 from global;
}

.blogPostTag {
  composes: dib f5 from global;
  padding: 3px 8px;
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 3px;
  background-color: var(--black-05);
}

.postHeader {
  composes: mt4 from global;
  margin-bottom: 40px;
}

.postTitle {
  composes: mt0 from global;
}

.postDate {
  composes: f5 from global;
  color: var(--color-date);
}

.newsletter {
  composes: mv5 from global;
}

.postBody img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.postBody h1 {
  margin-top: calc(var(--typography-marginRhythm) + 2.75rem);
}

.postBody h2 {
  margin-top: calc(var(--typography-marginRhythm) + 0.9505rem);
}

.postBody h3 {
  margin-top: calc(var(--typography-marginRhythm) + 0.7rem);
}

.postBody h4 {
  margin-top: calc(var(--typography-marginRhythm) + 0.5rem);
}

.postBody h5 {
  margin-top: calc(var(--typography-marginRhythm) + 0.3rem);
}

@media (prefers-color-scheme: dark) {
  .blogPostTag {
    background: var(--white-20);
    color: var(--white);
  }

  .postDate {
    color: var(--white);
  }
}
