button:disabled {
  opacity: 0.5;
  cursor: default;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: 0;
  font-family: $font;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .3px;
  font-weight: bolder;
  transition: all 200ms ease;
  cursor: pointer;
}

.btn-sm {
  padding: 10px 20px;
  font-size: 14px;
}

.btn-primary {
  background: $brand-color;
  color: white;

  &:hover {
    background: darken($brand-color, 10%);
    color: white;
  }
}
