.footer {
  width: 100%;
}

.footer-social {
  padding: 40px 20px;
  text-align: center;
}

.footer-socialList {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-socialListItem {
  padding: 0 5px;
  margin: 0 5px;
}

.footer-socialListItemLink {
  font-size: 24px;
}
