.page {
  padding-top: 40px;
}

.page-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.page-subtitle {
  margin-top: 0;
}

.indexCard {
  margin-bottom: 30px;
}

.indexCard-headerTitle {
  margin-bottom: 10px;
}

.indexCard-headerTitleLink {
  text-decoration: none;
}

.indexCard-headerSubtitle {
  font-size: 15px;
  color: $color-subtitle;
}
