.index-title {
  margin-top: 0;
  text-align: center;
}

.indexCard {
  margin-bottom: 30px;
}

.indexCard-headerTitle {
  margin-bottom: 10px;
}

.indexCard-headerTitleLink {
  text-decoration: none;
}

.indexCard-headerSubtitle {
  font-size: 15px;
  color: $color-subtitle;
}

.indexCard-img-container {
  display: inline-block;
}
