* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

html {
  height: 100%;
}

body {
  margin: 0;
}

img {
  width: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}

hr {
  height: 3px;
  border: none;
}
