@custom-media --not-small-viewport (min-width: 30em);
@custom-media --medium-viewport (min-width: 48em);
@custom-media --large-viewport (min-width: 60em);
/* TODO: Replace prefers-color-scheme usage with this custom media query */
@custom-media --dark-mode (prefers-color-scheme: dark);

:root {
  --primary-50: #f9bb56;
  --primary-60: #e0a23d;

  --color-body-copy: #444;
  --color-subtitle: #888;
  --color-nav-item: #b2bec3;
  --color-nav-item-hover: #636e72;
  --color-subheader: #333;
  --color-date: #919191;

  --bg-page-bright: #fafafa;
  --bg-page-dark: #2f2e36;
  --bg-code-block-bright: #2d2d2d;
  --bg-code-block-dark: #242427;

  --black-90: rgba(0, 0, 0, 0.9);
  --black-80: rgba(0, 0, 0, 0.8);
  --black-70: rgba(0, 0, 0, 0.7);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-50: rgba(0, 0, 0, 0.5);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-30: rgba(0, 0, 0, 0.3);
  --black-20: rgba(0, 0, 0, 0.2);
  --black-15: rgba(0, 0, 0, 0.15);
  --black-10: rgba(0, 0, 0, 0.1);
  --black-05: rgba(0, 0, 0, 0.05);

  --white-90: rgba(255, 255, 255, 0.9);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-70: rgba(255, 255, 255, 0.7);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-30: rgba(255, 255, 255, 0.3);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-10: rgba(255, 255, 255, 0.1);
  --white: white;

  --fontFamily-code: 'SFMono-Regular', Consolas, 'Roboto Mono',
    'Droid Sans Mono', 'Liberation Mono', Menlo, Courier, monospace;
  --typographyjs-lineHeight: 1.666;
  --typography-marginRhythm: 1.2495rem;
}
