@import '~tachyons/css/tachyons.min.css';
@import './_variables.css';
@import './_base.css';
@import './_colors.css';
@import './_typography.css';
@import './_prismjs.css';

.grid {
  display: grid;
}

.mw-text {
  max-width: 600px;
}

.mwlg {
  max-width: var(--maxWidthLg);
}

.container {
  max-width: 768px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (--medium-viewport) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.site-container {
  display: flex;
  min-height: 98vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

/* 
  * Creates ellipsis - Must use max height with it
  * https://css-tricks.com/almanac/properties/l/line-clamp/
*/
.ellipsis {
  overflow-y: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.ellipsis-2-lines {
  -webkit-line-clamp: 2;
}

.ellipsis-3-lines {
  -webkit-line-clamp: 3;
}

.ellipsis-4-lines {
  -webkit-line-clamp: 4;
}
