.footer {
  composes: f6 w-100 pa4 ph3 mt4-ns black-30 tc from global;
}

.footerSocial {
  composes: mb3 from global;
}

.footerSocialList {
  composes: flex justify-center pa0 ma0 list from global;
}

.footerSocialListItem {
  composes: ph1 mh2 from global;
}

.footerSocialListItemLink {
  font-size: 24px;
}

.footerLinks {
  composes: flex mw4 justify-center mb4 center from global;
}

.footerLink {
  composes: f5 f6-ns mh2 no-underline black-40 from global;
}

@media (--dark-mode) {
  .footer {
    color: var(--white-70);
  }

  .footerLink {
    color: var(--white-80);
  }
}
