.container {
  composes: center ph3 mt4 mt5-ns from global;
  max-width: 600px;
}

@media (--medium-viewport) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.containerLg {
  composes: mwlg center from global;
  padding-right: 20px;
  padding-left: 20px;
}

.hero {
  margin-bottom: 70px;
}

@media (--medium-viewport) {
  .hero {
    margin-bottom: 80px;
  }
}

.pageTitle {
  composes: f3 mt0 mb3 primary from global;
}

.pageSubtitle {
  composes: mt0 from global;
}

.postPreviewTitle {
  composes: mt0 mb2 from global;
  font-size: 22px;
  color: var(--color-subheader);
}

.postPreviewExcerpt {
  composes: ma0 from global;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}

.postPreviewDate {
  composes: db from global;
  margin-top: 10px;
  font-size: 14px;
  color: var(--color-date);
}

@media screen and (min-width: 560px) {
  .blogIndexPostsAndSeriesContainer {
    display: flex;
  }
}

.blogIndexPosts {
  margin-bottom: 60px;
}

@media screen and (min-width: 560px) {
  .blogIndexPosts {
    margin: 0;
    width: 65%;
  }
}

@media screen and (min-width: 560px) {
  .blogIndexSeries {
    width: 35%;
    margin-left: 50px;
  }
}

.seriesPreview {
  composes: relative from global;
  margin-bottom: 20px;
}

.seriesPreview:last-child {
  margin-bottom: 0;
}

.seriesPreviewLinkWrapper {
  composes: flex items-center lh-title no-underline tc from global;
  height: 150px;
  padding: 10px 30px;
}

.seriesPreviewLinkWrapper:hover {
  text-decoration: none;
}

.seriesPreviewLinkWrapper:hover .seriesPreviewBgOverlay {
  background: var(--black-50);
}

.seriesPreviewBg {
  composes: left-0 top-0 w-100 h-100 o-60 from global;
}

.seriesPreviewBgOverlay {
  composes: absolute top-0 right-0 bottom-0 left-0 from global;
  background: var(--black-30);
  transition: all 100ms ease;
}

.seriesPreviewTitle {
  composes: ma0 relative center white lh-title from global;
  font-size: 18px;
}

.sectionTitle {
  composes: mt0 normal ttu from global;
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: var(--black-50);
}

.popularPostsSection {
  composes: mb5 from global;
  composes: containerLg;
}

.popularPosts {
  composes: flex flex-wrap flex-nowrap-ns from global;
}

@media (prefers-color-scheme: dark) {
  .sectionTitle,
  .postPreviewTitle,
  .postPreviewExcerpt {
    color: var(--white);
  }
  .postPreviewDate {
    color: var(--white-60);
  }
}
