@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

html {
  height: 100%;
  background-color: #fafafa;
}

body {
  border: 8px solid $accent-color;
  margin: 0;
  font-family: $font;
  font-size: 18px;
  color: $color-body-copy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  text-rendering: optimizeLegibility;
}

img {
  width: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}


h1, h2, h3, h4 {
  color: $brand-color;
}

h1 {
  @media (max-width: 768px) {
    font-size: 24px;
  }
}

h2 {
  @media (max-width: 768px) {
    font-size: 22px;
  }
}

h3 {
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

p {
  line-height: 1.6;
}

a {
  color: $brand-color;
  text-decoration: none;
  transition: 100ms ease all;

  &:active,
  &:hover {
    color: darken($brand-color, 10%);
  }
}
