.u-hidden {
  display: none;
}

.u-visuallyHidden {
  visibility: hidden;
}

.u-textCenter {
  text-align: center;
}

.u-clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.u-flex {
  display: flex;
}
