name: Build and test pull

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - uses: actions/cache@v1
        with:
          path: ~/.cache/yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles(format('{0}{1}', github.workspace, '/yarn.lock')) }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Yarn install
        run: yarn install

      - name: Yarn build
        run: yarn build
        env:
          CI: true
          GOOGLE_ANALYTICS: ${{ secrets.GOOGLE_ANALYTICS }}
          CONTENTFUL_ENV: ${{ secrets.CONTENTFUL_ENV }}
          CONTENTFUL_SPACE_ID: ${{ secrets.CONTENTFUL_SPACE_ID }}
          CONTENTFUL_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_ACCESS_TOKEN }}
          CONTENTFUL_PREVIEW_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_PREVIEW_ACCESS_TOKEN }}
          CONTENTFUL_PRODUCTION_ENDPOINT: ${{ secrets.CONTENTFUL_PRODUCTION_ENDPOINT }}
          CONTENTFUL_PREVIEW_ENDPOINT: ${{ secrets.CONTENTFUL_PREVIEW_ENDPOINT }}

      - name: Yarn test
        run: yarn test:ci
        env:
          CI: true
          CONTENTFUL_ENV: ${{ secrets.CONTENTFUL_ENV }}
          CONTENTFUL_SPACE_ID: ${{ secrets.CONTENTFUL_SPACE_ID }}
          CONTENTFUL_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_ACCESS_TOKEN }}
          CONTENTFUL_PREVIEW_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_PREVIEW_ACCESS_TOKEN }}
          CONTENTFUL_PRODUCTION_ENDPOINT: ${{ secrets.CONTENTFUL_PRODUCTION_ENDPOINT }}
          CONTENTFUL_PREVIEW_ENDPOINT: ${{ secrets.CONTENTFUL_PREVIEW_ENDPOINT }}
