.nav {
  composes: flex pa4 items-center justify-center from global;
}

.navItem {
  composes: f5 black-50 b no-underline from global;
}

.active {
  composes: primary from global;
}

.logo {
  composes: relative f4 mh3 b black-80 no-underline from global;
}

.logo:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  display: block;
  background-color: currentColor;
  z-index: 12;
}

@media (prefers-color-scheme: dark) {
  .navItem,
  .logo {
    color: var(--white);
  }

  .active {
    color: var(--primary-50);
  }
}
